body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/Gym_Web_Prototype/image/b1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    position: relative;
}

.login-container .logo {
    width: 60px;
    margin-bottom: -10px;
}

.login-container h2 {
    margin-bottom: 30px;
    color: #00427E;
}

.input-group {
    position: relative;
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.input-group .input-icon {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 15px;
    padding-left: 45px; /* 为图标留出空间 */
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-container button {
    width: 80%;
    padding: 15px;
    margin-top: 20px;
    background-color: #00427E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #00427E;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-container img {
    margin: 0 10px; /* 添加间距以避免重合 */
}

/* 调整右边logo的大小 */
.header-logo {
    width: 200px; /* 根据需要调整大小 */
    height: auto; /* 保持比例 */
}